# Environment variables
.env

# Virtual environment
venv/
env/
ENV/
myenv/
Alya/

# Python cache
__pycache__/
*.py[cod]
*$py.class
.Python
*.so
cache

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE settings
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log
logs/
